@page
@model WebSiteRazorPages.Pages.Categories.IndexModel


<div class="container">
	<div class="row">
		<div class="col-6">
			<h2>
				Category list
			</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="/Categories/create" class="btn btn-primary">
				Create new category
			</a>
		</div>
	</div>
</div>
<table class="table table-bordered, table-striped">
	<thead>
		<tr>
			<th>Category name</th>
			<th>Display order</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>

		@foreach(var el in Model.Categories.OrderBy(u => u.DisplayOrder))
		{
			<tr>
				<td>@el.Name</td>
				<td>@el.DisplayOrder</td>
				<td>
					<div class="btn-group" role="group">
						<a asp-page="/Categories/edit"  asp-route-id=@el.Id class="btn btn-primary">
							Edit
						</a>
						<a asp-page="/Categories/delete"  asp-route-id=@el.Id class="btn btn-danger">
							Delete
						</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>